name: Website

on:
  push:
    branches: [master]
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - uses: olafurpg/setup-scala@v13
      - run: sbt docs/docusaurusPublishGhpages
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
